## Configuration files
user-config.json

## Darwin files
.DS_Store

## IntelliJ files
.idea

## Python files
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
# use remote interpreter

## Logging files
*.log
